<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.samilozturk.grad_samil">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="MezunPlaform"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GradSamil"
        tools:targetApi="31">
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.GradSamil.NoActionBar" />


        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:label="@string/activity_edit_profile_title" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AnnouncementDetailActivity"
            android:exported="false" />
        <activity
            android:name=".GalleryItemDetailActivity"
            android:exported="false" />
        <activity
            android:name=".AddGalleryItemActivity"
            android:exported="false"
            android:label="@string/add_gallery_item_title" />
        <activity
            android:name=".AddAnnouncementActivity"
            android:exported="false"
            android:label="@string/add_announcement_title" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.GradSamil.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.GradSamil.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.GradSamil.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>